@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Zen+Antique+Soft&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Zen Antique Soft', sans-serif;
    margin: 0px;
}

:root{
    --primary-color: #1E3A8A;
    --blue: #60A5FA;
}

.container{
    margin: 4rem auto 7rem;
    text-align: center;
}
.heading{
    text-align: center;
    color: var(--primary-color);
    padding:1rem;
    padding-top: 2rem;
}
.change-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}
.description {
    font-size: larger;
    margin: 1rem;
  }

.input-label {
    display: block;
  font-size: large;
  font-weight: 600;
}
.input{
    font-size: 14px;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}